h3{
    background-color: azure;
    color:black;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    border-radius: 10px;
  }
  
  th, td {
    background-color: #96D4D4;
  }

  tr:hover {background-color: #D6EEEE;}

  article {
    float: left;
    width: 70%;
    padding: 20px;
    background-color: #f1f1f1;
  }

  * {
    box-sizing: border-box;
  }

  nav {
    float: left;
    width: 30%;
    background: #ccc;
    padding: 20px;
  }

  /* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}